<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Wellness Chat</ion-title>
    </ion-toolbar>
    <div id="progress-bar-wrapper" *ngIf="percentage | async as pct">
        <ion-progress-bar color="green" type="indeterminate" buffer="0.2" class="progress is-info" [value]="pct/100"></ion-progress-bar>
    </div>
</ion-header>

<ion-content id="chat-app" padding *ngIf="isClient">
    <div id="comment-wrapper" *ngIf="!fakeChat">
        <div *ngFor="let comment of commentData" [ngClass]="comment.userID == userID ? 'userClass' : 'adminClass'">
            <!-- <p class="msg-date">{{getDateToDisplay(comment.time)}}</p> -->
            <p class="msg-date">{{comment.day}}</p>
            <div class="chat-content-wrapper">
                <div class="message" [innerHTML]="comment.message" (click)="openImg(comment);"></div>
                <p class="time">{{comment.time}}</p>
                <!-- <p class="time">{{timeDifference(comment.time)}}</p> -->
            </div>
        </div>
    </div>
    <div id="fake-chat" *ngIf="fakeChat">
        <p class="left"></p>
        <p class="right"></p>
        <p class="left"></p>
        <p class="right"></p>
        <p class="right"></p>
        <p class="left"></p>
        <p class="left"></p>
        <p class="right"></p>
    </div>
</ion-content>
<ion-content *ngIf="!isClient">
    <div id="non-client-text">
        <ion-icon name="chatboxes" color="success"></ion-icon>
        <p>Please contact admin for online coaching and chat support</p>
    </div>
</ion-content>
<ion-footer *ngIf="isClient">
    <ion-toolbar>
        <ion-row>
            <ion-col id="text-area-wrapper">
                <!-- <ion-input placeholder="Type a message..." id="diet-chat-message" [(ngModel)]="userDietComment"></ion-input> -->
                <ion-textarea #myInput id="input-field" (ionFocus)="scroll()" rows="2" (keyup)="showImageIcon()" (ionBlur)="showImageIcon()" placeholder="Type a message..." id="diet-chat-message" [(ngModel)]="userDietComment"></ion-textarea>
                <input id="file-uploader" type="file" (change)="uploadFile($event)" name="Upload Image" hidden accept="image/*" capture="filesystem"/>
                <div id="image-icon" *ngIf="addImage">
                    <!-- <ion-icon name="camera" (click)="openCamera();"></ion-icon> -->
                    <ion-icon name="attach" (click)="openGallery();"></ion-icon>
                </div>
            </ion-col>
            <ion-col size="2">
                <!-- <ion-button color="primary" shape="round" icon-only (click)="addUserComment();">
                    <ion-icon name="send"></ion-icon>
                </ion-button> -->
                <span id="send" (click)="addUserComment();">
                    <ion-icon name="send"></ion-icon>
                </span>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>
<div id="image-display-wrapper" *ngIf="showImage">
    <!-- <p id="close" (click)="closeImg()">
        <ion-icon name="close-circle" color="primary"></ion-icon>
    </p> -->
    <div id="data-wrapper">
        <ion-icon name="close-circle" (click)="closeImg()" color="primary"></ion-icon>
        <img id="user-img" [src]="imgSrc"/>
    </div>
</div>