<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Your Plans</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="non-customer" *ngIf="!customer">
        <p text-center id="alert-icon">
            <ion-icon ios="ios-alert" md="md-alert"></ion-icon>
        </p>
        <p>
            Looks like you have not enrolled for online coaching. For consultation, please drop a mail to <a href="mailto:fitkannadiga@gmail.com">fitkannadiga@gmail.com</a>
        </p>
        <p>**Terms & Conditions applied**</p>
    </div>
    <div *ngIf="customer" id="customer">
        <div class="wrapper" (click)="openDetailsPage('diet')">
                <img id="diet" src="./assets/icon/diet.png"/>
            <ion-card class="diet">
                <ion-card-content>
                    <ion-card-title>
                        Diet Plan
                    </ion-card-title>
                    <p>
                        Your customized diet plan to reach your goal which will be revised based on your progress and updates.
                    </p>
                </ion-card-content>
            </ion-card>
        </div>
        <div class="wrapper" (click)="openDetailsPage('workout')">
            <img id="workout" src="./assets/icon/workout.jpg"/>
            <ion-card class="workout">
                <ion-card-content>
                    <ion-card-title>
                        Workout Plan
                    </ion-card-title>
                    <p>
                        Your customized workout plan/video to help you reach the fitness goal.
                    </p>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>