ion-content {
    --background: var(--ion-background-color, #dcdcdc);
    div#article-wrapper {
        ion-card {
            color: #000 !important;
            background-color: #FFF;
            margin: 20px 15px;
            ion-grid {
                padding: 5px 0px;
            }
            ion-row.content-row {
                ion-col.article-desc {
                    font-weight: bold;
                }
                ion-col.article-img-wrapper {
                    img.article-img{
                        min-height: 60px;
                    }
                }
            }
            ion-row.count {
                border-top: 1px solid #ededed;
                padding: 5px 0px 0px;
                margin-top: 5px;
                ion-col.views {
                    border-right: 1px solid #ededed;
                }
                ion-icon {
                    vertical-align: middle;
                }
            }
        }
    }
}

div#fake-article-wrapper {
    ion-card {
        background-color: #FFF;
        height: 100px;
        ion-grid {
            height: 100%;
        }
        ion-row.count {
            height: 30%;
        }
        ion-row.content {
            height: 70%;
            div {
                height: 100%;
            }
        }
        p {
            height: 20px;
            margin: 0px !important;
        }
    }
}