<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>615957787738-ojhpogskjr61qsamvcu4h8iiisnq45a0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615957787738-ojhpogskjr61qsamvcu4h8iiisnq45a0</string>
	<key>API_KEY</key>
	<string>AIzaSyCQaFiHgThEPZ--GenOP_VibCAIsTf4p4c</string>
	<key>GCM_SENDER_ID</key>
	<string>615957787738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ionic.fitkannadiga</string>
	<key>PROJECT_ID</key>
	<string>fit-kannadiga</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-kannadiga.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615957787738:ios:fe87541b62224b3f</string>
	<key>DATABASE_URL</key>
	<string>https://fit-kannadiga.firebaseio.com</string>
</dict>
</plist>