<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Profile Page</ion-title>
    </ion-toolbar>
    <div id="progress-bar-wrapper" *ngIf="percentage | async as pct">
        <ion-progress-bar color="primary" buffer="0.5" class="progress is-info" [value]="pct/100"></ion-progress-bar>
    </div>
</ion-header>

<ion-content padding>
    <input id="file-uploader" type="file" (change)="uploadFile($event)" name="Upload Image" hidden accept="image/x-png,image/gif,image/jpeg" />
    <div id="image-upload-wrapper">
        <img id="user-img" [src]="imgPath" (click)="triggerUpload()" onError="src = 'assets/default.png'" />
        <img id="edit-icon" src="assets/icon/edit-image.png" onError="src = 'https://firebasestorage.googleapis.com/v0/b/fit-kannadiga.appspot.com/o/testimonials%2Fdefault_men.png?alt=media&token=66f623fa-4fb2-4f4f-b717-74877ae85cb5'" (click)="triggerUpload()" />
    </div>
    <p id="user-name">@{{profile.username}}</p>
    <form id="user-profile-form" #userProfileForm="ngForm" (ngSubmit)="validateForm(userProfileForm)" autocomplete="off">
        <ion-item>
            <ion-label position="floating">Full Name<span class="danger">*</span></ion-label>
            <ion-input type="text" name="fullname" required [(ngModel)]="profile.fullname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Email<span class="danger">*</span></ion-label>
            <ion-input type="text" name="email" required [(ngModel)]="profile.email" disabled="disabled"></ion-input>
        </ion-item>
        <!--<ion-item>
            <ion-label position="floating">Age<span class="danger">*</span></ion-label>
            <ion-input type="number" name="age" required [(ngModel)]="profile.age"></ion-input>
        </ion-item>-->
        <ion-item>
            <ion-label position="floating">Date Of Birth<span class="danger">*</span></ion-label>
            <ion-datetime display-format="DD/MM/YYYY" picker-format="DD MMMM YYYY" name="dob" required [(ngModel)]="profile.dob"></ion-datetime>
            <!-- <ion-datetime displayFormat="MMM DD, YYYY" name="dob" required [(ngModel)]="profile.dob"></ion-datetime> -->
        </ion-item>
        <ion-item>
            <ion-label position="floating">Gender<span class="danger">*</span></ion-label>
            <ion-select name="gender" required [(ngModel)]="profile.gender">
                <ion-select-option value="female">Female</ion-select-option>
                <ion-select-option value="male">Male</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Weight[kg]</ion-label>
            <ion-input type="number" name="weight" [(ngModel)]="profile.weight"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Height[cms]</ion-label>
            <ion-input type="number" name="height" [(ngModel)]="profile.height"></ion-input>
        </ion-item>
        <ion-button class="fk-marginTop-25" id="update-profile-btn" color="secondary" expand="full" size="large" type="submit">Update Profile</ion-button>
    </form>
</ion-content>