#chartdiv {
    div.amcharts-chart-div {
        a {
            display: none !important;
        }
    }
}

ion-content {
    p#note {
        font-size: 0.7rem;
        span#macro-calci-link {
            color: #3B4EAC;
            font-weight: bold;
        }
    }
}