<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="recipes">
            <ion-icon name="pizza"></ion-icon>
            <ion-label>Recipes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="videos">
            <ion-icon name="videocam"></ion-icon>
            <ion-label>Videos</ion-label>
        </ion-tab-button>
        <!-- 
        <ion-tab-button tab="fitbook">
            <ion-icon name="book"></ion-icon>
            <ion-label>Fit Book</ion-label>
        </ion-tab-button> -->
    </ion-tab-bar>
</ion-tabs>