<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>BMR Calculator</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form #bmrForm="ngForm" (ngSubmit)="calculateBMR()">
        <ion-item>
            <ion-label color="dark" position="floating">Age<span class="danger">*</span></ion-label>
            <ion-input type="number" [(ngModel)]="userInfo.age" name="age" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="dark" position="floating">Gender<span class="danger">*</span></ion-label>
            <ion-select [(ngModel)]="userInfo.gender" name="gender" required>
                <ion-select-option value="female">Female</ion-select-option>
                <ion-select-option value="male">Male</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label color="dark" position="floating">Weight[kg]<span class="danger">*</span></ion-label>
            <ion-input type="number" [(ngModel)]="userInfo.weight" name="weight" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="dark" position="floating">Height[cms]<span class="danger">*</span></ion-label>
            <ion-input type="number" [(ngModel)]="userInfo.height" name="height" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="dark" position="floating">Goal<span class="danger">*</span></ion-label>
            <ion-select [(ngModel)]="userInfo.goal" name="goal" required>
                <ion-select-option value="fl">Fat Loss</ion-select-option>
                <ion-select-option value="mw">Maintain Weight</ion-select-option>
                <ion-select-option value="mb">Muscle Building</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label color="dark" position="floating">Activity Level<span class="danger">*</span></ion-label>
            <ion-select [(ngModel)]="userInfo.activity" name="activity" required>
                <ion-select-option value="1.2">No exercise</ion-select-option>
                <ion-select-option value="1.375">1-3 days/week</ion-select-option>
                <ion-select-option value="1.55">3-5 days/week</ion-select-option>
                <ion-select-option value="1.725">6-7 days/week</ion-select-option>
                <ion-select-option value="1.9">Intense 6-7 days/week</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button class="fk-marginTop-25" id="update-profile-btn" color="primary" expand="full" size="large" type="submit" [disabled]="!bmrForm.valid">Calculate BMR</ion-button>
    </form>
</ion-content>