<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>My Plans</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h2 text-center color="carbs">Lifestyle Plans</h2>
    <ion-card id="lifestyle-diet" (click)="openPaymentOption();">
        <ion-card-header>
            Diet Plan
        </ion-card-header>
        <ion-card-content>
            Just &#8377; 1299/- <br/> Includes one time consultation & customized diet plan based on your lifestyle/Need.
        </ion-card-content>
    </ion-card>
    <ion-card id="lifestyle-workout">
        <ion-card-header>
            Workout Plan
        </ion-card-header>
        <ion-card-content>
            Just &#8377; 799/- <br/> Customized workout plan which perfectly fits as per your busy schedule.
        </ion-card-content>
    </ion-card>
    <ion-card id="lifestyle-daily-workout-video">
        <ion-card-header>
            Daily Workout Video
        </ion-card-header>
        <ion-card-content>
            Just &#8377; 2499/- <br/> Single customized video which demonstrates your workout to meet your goal.
        </ion-card-content>
    </ion-card>
    <ion-card id="lifestyle-weekly-workout-video">
        <ion-card-header>
            Weekly Workout Plan
        </ion-card-header>
        <ion-card-content>
            Just &#8377; 2999/- <br/> Multiple video to demonstrates your weekly workout based on your split to meet your goal.
        </ion-card-content>
    </ion-card>
    <h2 text-center color="carbs">Transformation Plans (3 Months)</h2>
    <ion-card id="transformation-fat-shredder" (click)="openPaymentOption();">
        <ion-card-header>
            Fat Shredder
        </ion-card-header>
        <ion-card-content>
            Just &#8377; 8999/- <br/> Includes one time consultation, daily updates from coach & revision of diet plan as and when needed to loss fat faster.
        </ion-card-content>
    </ion-card>
    <ion-card id="transformation-be-fit">
        <ion-card-header>
            Be Fit
        </ion-card-header>
        <ion-card-content>
            Just &#8377; 9990/- <br/> Completely customized diet and workout plan with multiple voice call consultation and daily updates.
        </ion-card-content>
    </ion-card>
    <br/>
    <p (click)="openPayment();">In App Browser Payment</p>
    <!-- <a href="https://www.instamojo.com/@fitkannadiga/lbd11a43293af4f85b604ba341b4d7ddb/" rel="im-checkout" data-behaviour="link" data-style="flat" data-text="Checkout">Checkout</a> -->

</ion-content>