<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>My Plans</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h2 text-center color="carbs">Lifestyle Plans</h2>
    <div *ngIf="lifestylePlans.length > 0">
        <ion-card *ngFor="let lPlan of lifestylePlans" [id]="lPlan.id" (click)="openPaymentOption();">
            <ion-card-header>
                {{lPlan.title}}
            </ion-card-header>
            <ion-card-content>
                <div [innerHTML]="lPlan.description"></div>
            </ion-card-content>
        </ion-card>
    </div>
    <h2 text-center color="carbs">Transformation Plans (3 Months)</h2>
    <div *ngIf="transformationPlans.length > 0">
        <ion-card *ngFor="let tPlan of transformationPlans" [id]="tPlan.id" (click)="openPaymentOption();">
            <ion-card-header>
                {{tPlan.title}}
            </ion-card-header>
            <ion-card-content>
                <div [innerHTML]="tPlan.description"></div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>