<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>About Us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>
        Hi All! <br/> I am just a passionate person who loves to do new things. So, In the process of doing this i fell in love with sports and fitness and since then i never took a step back from this beautiful thing. It has not only taught me descipline
        but also many other things in life.

        <br/><br/> Every thing about human anatomy and how our body works amazes me to explore more and more. I have learnt few by reading books, articles, scholars and also by experimenting on myself. So, join me in the journey of learning fitness and
        also to help other to reach their fitness goals.

        <br/> You can always drop by and say "Hi!" in any of the social medial links mentioned below.
        <br/>
        <p id="social-icons">
            <ion-icon id="facebook" class="background-color-fb" ios="logo-facebook" md="logo-facebook" (click)="redirect('facebook');"></ion-icon>
            <ion-icon id="instagram" class="background-color-insta" ios="logo-instagram" md="logo-instagram" (click)="redirect('instagram');"></ion-icon>
            <ion-icon id="youtube" class="background-color-youtube" ios="logo-youtube" md="logo-youtube" (click)="redirect('youtube');"></ion-icon>
        </p>
        <!-- <ion-button expand="full" size="large" class="background-color-fb" (click)="redirect('facebook');">
            <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>&nbsp;&nbsp;Facebook</ion-button><br/>
        <ion-button expand="full" size="large" class="background-color-insta" (click)="redirect('instagram');">
            <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon>&nbsp;&nbsp;Instagram</ion-button><br/>
        <ion-button expand="full" size="large" class="background-color-youtube" (click)="redirect('youtube');">
            <ion-icon ios="logo-youtube" md="logo-youtube"></ion-icon>&nbsp;&nbsp;Youtube</ion-button> -->
</ion-content>