<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>About Us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>Hey!</p>
    <p>I am Raghavendra, I am just a passionate person who loves to try new and exciting things in life. So, In the process of doing this I fell in love with sports and fitness. I used to play Basketball during my University and had to stop it due to some major injuries and I also put on lot of weight once I stopped all my activities for my rehab. But somehow through one of my friend I got some tips to stay healthy without spending much time and I implemented it and was working out pretty decent for me with just a 6Kg dumbell at home. I lost a couple of kilo also and started to look better.</p>
    <p>One of my Rommmate who used to watch me work harder and also who used to support very much insisted me to take up fitness and nutrition courses and here I am putting out content and trying to put little efforts to help people.</p>
    <p>Every thing about human anatomy and how our body works amazes me to explore more and more. I have learnt few by reading books, articles, scholars and also by experimenting on myself. So, join me in the journey of learning fitness and also to help other to reach their fitness goals.</p>
    <p>You can always drop by and say "Hi!" in any of the social medial links mentioned below.</p>
    <p>Stay Fit. Cheers!</p>
    <p id="social-icons">
        <ion-icon id="facebook" class="background-color-fb" ios="logo-facebook" md="logo-facebook" (click)="redirect('facebook');"></ion-icon>
        <ion-icon id="instagram" class="background-color-insta" ios="logo-instagram" md="logo-instagram" (click)="redirect('instagram');"></ion-icon>
        <ion-icon id="youtube" class="background-color-youtube" ios="logo-youtube" md="logo-youtube" (click)="redirect('youtube');"></ion-icon>
    </p>
    <!-- <ion-button expand="full" size="large" class="background-color-fb" (click)="redirect('facebook');">
        <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>&nbsp;&nbsp;Facebook</ion-button><br/>
    <ion-button expand="full" size="large" class="background-color-insta" (click)="redirect('instagram');">
        <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon>&nbsp;&nbsp;Instagram</ion-button><br/>
    <ion-button expand="full" size="large" class="background-color-youtube" (click)="redirect('youtube');">
        <ion-icon ios="logo-youtube" md="logo-youtube"></ion-icon>&nbsp;&nbsp;Youtube</ion-button> -->
</ion-content>