<ion-content padding>
    <div id="login-wrapper">
        <img id="logo-img" src="./assets/logo.png" />
        <form id="login-form" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" required [(ngModel)]="email" name="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="Password" required [(ngModel)]="password" name="password"></ion-input>
            </ion-item>
            <ion-button class="fk-marginTop-25" id="login-btn" expand="full" size="large" type="submit" shape="round">Login</ion-button>
        </form>
        <ion-row id="link-wrapper">
            <ion-col>
                <p id="new-user">
                    <a routerLink="/registration">Sign Up Now</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="reset-link" (click)="resetPassword()">Forgot Password?</span>
                </p>
            </ion-col>
        </ion-row>
    </div>
</ion-content>