ion-content {
    --background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.6)), url(/assets/imgs/login_bg.jpg) no-repeat center center / cover;
    div#login-wrapper {
        margin-top: 15vh;
        text-align: center;
        img#logo-img {
            width: 30%;
        }
        form {
            text-align: center;
            ion-item {
                --background: transparent !important;
            }
            ion-item div.item-native {
                padding-left: 0px !important;
            }
            ion-button {
                --background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
            }
        }
        p#new-user {
            a, span {
                text-decoration: none;
                color: #3B4EAC;
                font-weight: bold;
            }
        }
        span#reset-link {
            // text-decoration: underline;
            color: #3B4EAC;
            font-weight: bold;
        }
        p#google-login-btn {
            background-color: #FFF;
            padding: 10px;
            border: 1px solid #ededed;
            border-radius: 40px;
            img {
                width: 20px;
                float: left;
                margin-left: 20px;
            }
        }
        ion-row#link-wrapper {
            // position: absolute;
            // bottom: 10vh;
            // width: 100%;
        }
    }
}