ion-content {
    div#search-wrapper {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        background-color: #FFF;
    }
    ion-card {
        p {
            color: #000;
        }
    }
}