<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{muscleData.muscle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div padding>
        <!-- <h3>{{muscleData.muscle}}</h3> -->
        <img [src]="muscleData.img_path" />
        <div [innerHTML]="muscleData.description"></div>
    </div>
    <div id="search-wrapper">
        <ion-searchbar (ionInput)="getItems($event)" placeholder="search workout" showCancelButton (ionCancel)="cancelSearch()"></ion-searchbar>
    </div>
    <div padding>
        <ion-card *ngFor="let exercise of exerciseList" (click)="showWorkoutModal(exercise);">
            <ion-row>
                <ion-col size="3">
                    <img [src]="exercise.exercise_image" onError="src = './assets/imgs/default.png'"/>
                </ion-col>
                <ion-col>
                    <p>{{exercise.exercise_name}}</p>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
</ion-content>