<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Feedback</ion-title>
    </ion-toolbar>
</ion-header>

<!-- <ion-content padding>
    <img src="./assets/imgs/comment.png" id="comment-icon" />
    <p id="feedback-info">We are constantly trying to improve our services and would like to hear your feedback.</p>
    <ion-item class="fk-marginTop-1">
        <ion-textarea rows="6" height="200px;" [(ngModel)]="feedbackText" placeholder="Your Feedback is valuable......."></ion-textarea>
    </ion-item>
    <ion-button expand="full" size="large" color="primary" (click)="sendFeedback()" class="fk-marginTop-25">Submit</ion-button>
</ion-content> -->
<ion-content padding>
    <p>How Happy are you with the services provided by Fit Kannadiga?</p>
    <div>
        <img src="./assets/icon/emoticons/sad.svg" id="sad" class="emoticon" (click)="selectRating($event, '-1', 'sad')">
        <img src="./assets/icon/emoticons/neutral.svg" id="neutral" class="emoticon" (click)="selectRating($event, '0', 'neutral')">
        <img src="./assets/icon/emoticons/happy.svg" id="happy" class="emoticon" (click)="selectRating($event, '1', 'happy')">
        <img src="./assets/icon/emoticons/satisfied.svg" id="satisfied" class="emoticon" (click)="selectRating($event, '2', 'satisfied')">
        <img src="./assets/icon/emoticons/love.svg" id="love" class="emoticon" (click)="selectRating($event, '3', 'love')">
    </div>
    <ion-item class="fk-marginTop-50" lines="none">
        <ion-textarea rows="6" height="200px;" [(ngModel)]="feedbackText" placeholder="Your Feedback is valuable"></ion-textarea>
    </ion-item>
    <ion-button color="primary" (click)="sendFeedback()" class="fk-marginTop-50">Submit</ion-button>
</ion-content>