<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Fitness Tools</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row *ngFor="let tools of TollList" (click)="openPage(tools.action);">
        <ion-col size="4" class="img-wrapper">
            <img [src]="tools.imgPath"/>
        </ion-col>
        <ion-col size="8" class="description-wrapper">
            <h3>{{tools.title}}</h3>
            <p>{{tools.description}}</p>
        </ion-col>
    </ion-row>
    <!-- <div class="tool-wrapper" (click)="openPage('/bmrcalculator');">
        <div class="img-wrapper tool-sections">
            <img src="https://cdn3.iconfinder.com/data/icons/ketogenic-diet-color/64/calories-burn-metabolism-energy-food-64.png" onError="src = './assets/imgs/default.png'"/>
        </div>
        <div id="bmr-calci" class="headling-wrapper tool-sections">
            <p class="title">BMR Calculator</p>
            <p class="description">Know your Metabolic Rate based on your activity level</p>
        </div>
    </div>
    <div class="tool-wrapper" (click)="openPage('/interval-timer');">
        <div class="img-wrapper tool-sections">
                <img src="https://cdn3.iconfinder.com/data/icons/fitness-general/512/Stopwatch-64.png" onError="src = './assets/imgs/default.png'"/>
        </div>
        <div id="fit-timer" class="headling-wrapper tool-sections">
            <p class="title">Fitness Timer</p>
            <p class="description">Timer for all your Interval trainer sessions</p>
        </div>
    </div>
    <div class="tool-wrapper" (click)="openPage('/macros-calci');">
        <div class="img-wrapper tool-sections">
                <img src="https://cdn3.iconfinder.com/data/icons/business-icons-4/128/chart-6-64.png" onError="src = './assets/imgs/default.png'"/>
        </div>
        <div id="macro-calci" class="headling-wrapper tool-sections">
            <p class="title">Macros Finder</p>
            <p class="description">Breaks down your daily calories to Carbs, Protein & Fats for particular diet</p>
        </div>
    </div> -->
</ion-content>