<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="!fakeslider" id="slider-container">
        <ion-slides *ngIf="slideData" pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let slide of slideData" (click)="openSlideInfo(slide);">
                <img [src]="slide.img_path" onError="src = './assets/imgs/default.png'"/>
            </ion-slide>
        </ion-slides>
    </div>
    <div id="fake-slider-wrapper" *ngIf="fakeslider">
        <ion-slides pager="true" [options]="slideOpts">
            <ion-slide>
                <div class="black-animation">Fit Kannadiga</div>
            </ion-slide>
            <ion-slide>
                <div class="green-animation">Fit Kannadiga</div>
            </ion-slide>
            <ion-slide>
                <div class="purple-animation">Fit Kannadiga</div>
            </ion-slide>
        </ion-slides>
    </div>
    <div id="workout-list-wrapper">
        <ion-row id="header">
            <ion-col>Trending Workouts</ion-col>
            <ion-col class="ion-text-right"><span class="link" color="primary" (click)="openWorkoutPage()">See All ></span></ion-col>
        </ion-row>
        <ion-row *ngIf="!fakeWorkout" id="real-worouts">
            <ion-col *ngFor="let workout of homeWorkoutList" (click)="openWorkoutPage()">
                <div class="style-wrapper">
                    <img [src]="workout.workout_img" onError="src = './assets/imgs/default.png'"/>
                    <div class="fill-color" style="height: 150px; overflow: hidden;" >
                        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M1.13,150.48 C32.16,143.58 344.24,172.20 500.56,2.47 L500.00,150.00 L1.13,150.48 Z" style="stroke: none; fill: #3B4EAC;"></path></svg>
                    </div>
                </div>
                <p class="title">{{workout.title}}</p>
                <p>
                    <ion-icon name="star" *ngFor="let intenstity of getArray(workout.intensity)"></ion-icon>
                </p>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="fakeWorkout" id="fake-workout">
                <ion-col>
                    <div class="image animate-skeleton-background"></div>
                    <p class="animate-skeleton-background"></p>
                    <p class="animate-skeleton-background"></p>
                </ion-col>
                <ion-col>
                    <div class="image animate-skeleton-background"></div>
                    <p class="animate-skeleton-background"></p>
                    <p class="animate-skeleton-background"></p>
                </ion-col>
            </ion-row>
    </div>
    <div id="hire-mentor-wrapper">
        <ion-row [ngStyle]="{'background-color':shortCard.bg_color}" *ngIf="!fakeHomeCard" id="mentor-wrapper" (click)="showHireCoach();">
            <ion-col size="3" id="coach-img">
                    <img [src]="shortCard.img_src"/>
            </ion-col>
            <ion-col id="content">
                    <p id="title">{{shortCard.title}}</p>
                    <p>{{shortCard.description}}</p>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="fakeHomeCard" id="fake-short-home-card">
                <ion-col size="5" id="coach-img">
                        <p id="img" class="animate-skeleton-background"></p>
                </ion-col>
                <ion-col id="content">
                        <p id="title" class="animate-skeleton-background"></p>
                        <p class="description animate-skeleton-background"></p>
                        <p class="description animate-skeleton-background"></p>
                </ion-col>
            </ion-row>
    </div>
</ion-content>