div#slider-container {
    height: 40%;
    ion-slide{
        img {
            min-height: 32vh;
        }
    }
}
div#fake-slider-wrapper {
    height: 40%;
    ion-slides {
        height: 100%;
        ion-slide {
            height: 100%;

            div {
                width: 100%;
                height: 100%;
                padding-top: 10%;
            }
        }
    }
}

#workout-list-wrapper {
    padding: 5px;
    ion-row#header {
        font-weight: bold;
    }
    span.link {
        color: #3B4EAC;
        font-size: 0.8rem;
    }
    ion-row#real-worouts{
        ion-col {
            height: 140px;
            border: 1px solid #dcdcdc;
            border-radius: 10px;
            margin: 2px;
            padding: 0;
            img{
                width: 100%;
                border-radius: 10px 10px 0px 0px;
                height: 90px;
            }
            p.title {
                font-weight: bold;
                font-size: 0.8rem;
                color: #222428;
            }
            p {
                margin: 1px 5px;
                ion-icon {
                    color: #ffde25;
                }
            }
        }
    }
    ion-row#fake-workout{
        ion-col {
            height: 140px;
            border: 1px solid #dcdcdc;
            border-radius: 10px;
            margin: 5px;
            padding: 0;
            div.image{
                height: 70px;
                border: 1px solid #ededed;
                border-radius: 10px 10px 0px 0px;
            }
            p {
                height: 15px;
                margin: 10px 5px;
            }
        }
    }
}

div#hire-mentor-wrapper {
    padding: 10px; 
    ion-row#fake-short-home-card {
        border-radius: 10px;
        border: 1px solid #dcdcdc;
        height: 100px;
        ion-col#coach-img {
            p#img {
                height: 100%;
                padding: 0;
                margin: 0;
            }
        }
        ion-col#content {
            p#title {
                height: 20px;
                margin: 0px 5px 15px;
            }
            p.description {
                height: 12px;
                margin: 8px 5px;
            }
        }
    }
    ion-row#mentor-wrapper {
        // background: rgba(166,133,214,0.84);
        // background: -moz-linear-gradient(left, rgba(166,133,214,0.84) 13%, rgba(159,134,217,0.84) 21%, rgba(93,145,243,0.99) 96%, rgba(93,145,243,1) 100%);
        // background: -webkit-gradient(left top, right top, color-stop(13%, rgba(166,133,214,0.84)), color-stop(21%, rgba(159,134,217,0.84)), color-stop(96%, rgba(93,145,243,0.99)), color-stop(100%, rgba(93,145,243,1)));
        // background: -webkit-linear-gradient(left, rgba(166,133,214,0.84) 13%, rgba(159,134,217,0.84) 21%, rgba(93,145,243,0.99) 96%, rgba(93,145,243,1) 100%);
        // background: -o-linear-gradient(left, rgba(166,133,214,0.84) 13%, rgba(159,134,217,0.84) 21%, rgba(93,145,243,0.99) 96%, rgba(93,145,243,1) 100%);
        // background: -ms-linear-gradient(left, rgba(166,133,214,0.84) 13%, rgba(159,134,217,0.84) 21%, rgba(93,145,243,0.99) 96%, rgba(93,145,243,1) 100%);
        // background: linear-gradient(to right, rgba(166,133,214,0.84) 13%, rgba(159,134,217,0.84) 21%, rgba(93,145,243,0.99) 96%, rgba(93,145,243,1) 100%);
        border-radius: 10px;
        border: 1px solid #dcdcdc;

        ion-col#coach-img {
            img {
                min-height: 80px;
            }
        }
        
        ion-col#content {
            font-size: 0.8rem;
            p {
                margin: 5px;
            }
            p#title {
                font-weight: bold;
            }
        }
    }
}
.black-animation {
    -webkit-animation: infinite blackColor 4s;
    animation: 4s infinite blackColor;
    opacity: 0.7;
}

@keyframes blackColor {
    0% {
        background: #000;
    }
    100% {
        background: grey;
    }
}

@-webkit-keyframes blackColor {
    0% {
        background: #000;
    }
    100% {
        background: grey;
    }
}

.green-animation {
    -webkit-animation: infinite greenColor 4s;
    animation: 4s infinite greenColor;
    opacity: 0.7;
}

@keyframes greenColor {
    0% {
        background: rgb(63, 126, 63);
    }
    100% {
        background: rgb(72, 155, 72);
    }
}

@-webkit-keyframes greenColor {
    0% {
        background: rgb(63, 126, 63);
    }
    100% {
        background: rgb(72, 155, 72);
    }
}

.purple-animation {
    -webkit-animation: infinite purpleColor 4s;
    animation: 4s infinite purpleColor;
    opacity: 0.9;
}

@keyframes purpleColor {
    0% {
        background: rgb(78, 78, 143);
    }
    100% {
        background: rgb(96, 96, 138);
    }
}

@-webkit-keyframes purpleColor {
    0% {
        background: rgb(78, 78, 143);
    }
    100% {
        background: rgb(96, 96, 138);
    }
}