ion-toolbar {
    span.close-text {
        color: #3B4EAC;
        font-weight: bold;
        padding-right: 10px;
    }
}

ion-content {
    font-size: 0.8rem;
    div#workout-instruction {
        font-size: 0.9rem;
        padding-right: 15px;
        text-align: justify;
        line-height: 1.1rem;
        padding-bottom: 20px;
    }
    ol, ul {
        li {
            padding-bottom: 10px !important;
            strong {
                display: block;
                padding: 6px 0px;
            }
        }
    }
    p {
        margin: 0px !important;
        padding-left: 20px !important;
    }
}