ion-segment {
    ion-segment-button {
        height: 40px;
        text-align: center;
        font-size: 1rem;
        background-color: #dcdcdc !important;
        font-weight: bold;
    }
    ion-segment-button.segment-button-checked {
        background-color: #3B4EAC !important;
        color: #FFF !important;
    }
}

ion-content#split-wrapper {
    div#workout-card-list {
        padding-bottom: 60px;
    }
    span.tags {
        padding: 4px 10px;
        background-color: #A8B0DD;
        margin: 5px;
        font-weight: bold;
        border-radius: 20px;
        font-size: 0.7rem;
        text-align: center;
        color: #fff;
    }
    p.card-title {
        color: #000;
        font-weight: bold;
        margin: 0px 0px 5px;
    }
    ion-icon#premium-icon {
        color: #e0b500;
        position: absolute;
        right: 0;
        padding-right: 10px;
        font-size: 2rem;
    }
}

ion-content#individual-wrapper {
    ion-row {
        ion-col {
            text-align: center;
            img {
                border-radius: 60px;
                box-shadow: -2px 8px 6px #dcdcdc;
                // border: 2px solid #3B4EAC;
            }
            p {
                color: #000;
                font-weight: bold;
                font-size: 1.2rem;
                margin: 6px 0px;
            }
        }
    }
}

div#fake-workout-wrapper {
    ion-card {
        height: 120px;
        ion-row.workout-content {
            height: 70%;
            ion-col {
                div {
                    height: 100%;
                }
                p {
                    height: 25px;
                    margin: 0px !important;
                }
            }
        }
        ion-row.workout-tags {
            height: 30%;
            span {
                height: 15px;
                width: 60px;
                display: inline-block;
                margin: 5px 10px;
            }
        }
    }
}