<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>FAQ</ion-title>
        <!-- <ion-button slot="end" (click)="presentLangSelector()" color="light">{{presentLang}}</ion-button> -->
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list class="accordion-list">
        <div class="accordion-container" *ngFor="let item of finalFaqObject; let i = index">
            <p class="question" (click)="toggleSection(i, $event)">
                <span class="question-text"><ion-icon [name]="(item.open) ? 'remove' : 'add'"></ion-icon></span> 
                <span class="quesion">{{item.question}}</span>
            </p>
            <p class="answer" *ngIf="item.open" no-lines>{{item.answer}}</p>
        </div>
    </ion-list>
</ion-content>