ion-list.accordion-list {
    p.question {
        background: #344597;
        padding: 12px;
        color: #FFF;
        border-radius: 5px 5px 0px 0px;
        margin-bottom: 0px;
    }
    p.answer {
        background: #a2a4ab;
        padding: 12px;
        margin-top: 0px;
        border-radius: 0px 0px 5px 5px;
    }
}